.wrapper {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}

mat-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20vw;
  height: 170px;
}

.list {
  display: flex;
  gap: 2vh;
  flex-direction: column;
}
